<div class="text-center p-4" style="color: white; font-family: Segoe print;">
    That's YourAlbumsWorld! Keep safe and organize in albums your favourite songs...
    <% if(locals.invalid && locals.invalid != ''){ %>
        <div class="alter alert-danger text-center">
            <%= invalid %>
        </div>
    <% } %>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <ul>
                <li style="background-color: #88001b;"><a style="color: #b8b8b8;" href="/app">MyAlbums</a></li>
                <li><a href="/app/myartists">MyArtists</a></li>
                <li><a href="/app/mysongs">MySongs</a></li>
            </ul>
        </div>
        <div class="col-lg-2">
            <form action="/app" method="POST">
                <select class="selectpicker" name="selectpicker" onchange='if(this.value != 0 && this.value != "New album") { this.form.submit(); } else{window.location.href = "/app"}'>      
                    <option>Choose album</option>   
                    <option>New album</option>  
                    <%if (locals.items1) {%>
                        <%for (var i=0; i<=items1.length-1; i++) {%>
                            <option><%= items1[i].name %></option>
                    <%} }%> 
                </select>
            </form>
        </div>
        <div class="col-lg-6">
            <table id="table" class="table table-hover table-dark table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Singer/s</th>
                        <th>Url</th>
                        <th>Album</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <form id="form1" method="POST">
                    <%if (locals.items2) {%>
                        <caption style="caption-side: bottom; margin-letf: 3em; font-family: Segoe print;"><%= items2[0].name %></caption>
                        <%for (var i=0; i<=items2.length-1; i++) {%>
                            <tbody>
                                <tr onchange="update(this)">
                                    <td><input type="text" name="title" value="<%= items2[i].song %>" readonly title="Cannot change title"></td>
                                    <td><input type="text" name="singer" value="<%= items2[i].singer %>"></td>
                                    <td><input type="text" name="url" value="<%= items2[i].url %>"></td>
                                    <td><input type="text" name="name" value="<%= items2[i].name %>"></td>
                                    <td>
                                        <a class="red-text" style="margin-left: 1em;"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                    <%} }%>
                </form>
            </table>
        </div>
        <div class="col-lg-2">
            <button class="btn" id="btnplus" onclick="addrow()">
                <i class="fa fa-plus-circle fa-4x" id="plus" title="Add an album"></i>
            </button>
        </div>
    </div>
</div>

<script>
    var rowCount = table.rows.length;
    function addrow(){
        const table = document.getElementById("table");       
        const rowCount2 = table.rows.length;
        if (rowCount==1){
            table.insertRow(rowCount).innerHTML="<tr><td  contenteditable='true'></td><td contenteditable='true'></td><td contenteditable='true'></td><td contenteditable='true'></td><td><a onclick= insert() class='teal-text'><i class='fa fa-check'></i></a><a onclick='deleterow()' class='red-text' style='margin-left: 1.5em;'><i class='fa fa-times'></i></a></td></tr>";
        }
        else{
            table.insertRow(rowCount).innerHTML="<tr><td  contenteditable='true'></td><td contenteditable='true'></td><td contenteditable='true'></td><td></td><td><a onclick= insert() class='teal-text'><i class='fa fa-check'></i></a><a onclick='deleterow()' class='red-text' style='margin-left: 1.5em;'><i class='fa fa-times'></i></a></td></tr>";
        }
        if (rowCount2 > rowCount){
            table.deleteRow(rowCount2);
        }
    }
    function deleterow(){
        const table = document.getElementById("table");
        var rowCount = table.rows.length;
        table.deleteRow(rowCount-1);
    }
    function update(x){
        document.getElementById('form1').action = "/app/update/" + x.rowIndex;
        document.getElementById('form1').submit();
    }

    function insert(){
        const table = document.getElementById("table");
        const cell = [];
        for (i=0;i<=3;i++){cell[i] = table.rows[rowCount].cells[i].innerHTML;}
        document.getElementById('form1').method = 'POST';
        if (rowCount>1){
            document.getElementById('form1').action = "/app/insert?title="+cell[0] +"&singer="+cell[1] +"&url="+cell[2] +"&album="+table.caption.innerHTML;
        } else{
            document.getElementById('form1').action = "/app/insert?title="+cell[0] +"&singer="+cell[1] +"&url="+cell[2] +"&album="+cell[3];
        }
        document.getElementById('form1').submit();
    }
</script>
