<div class="text-center p-4" style="color: white; font-family: Segoe print;">
    YourMusicWorld needs your imagination. Soo... Create YourSongs!
    <% if(locals.invalid && locals.invalid != ''){ %>
        <div class="alter alert-danger text-center">
            <%= invalid %>
        </div>
    <% } %>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <ul>
                <li><a href="/app">MyAlbums</a></li>
                <li><a href="/app/myartists">MyArtists</a></li>
                <li style="background-color: #88001b;"><a style="color: #b8b8b8;" href="/app/mysongs">MySongs</a></li>
            </ul>
        </div>
        <div class="col-lg-2">
            <form action="/app/mysongs" method="POST">
                <select class="selectpicker" data-style="btn-info" name="selectpicker" onchange='if(this.value != 0 && this.value != "New song") { this.form.submit(); } else{window.location.href = "/app/mysongs"}'>      
                    <option>Choose song</option>
                    <option>New song</option>         
                    <%if (locals.items1) {%>
                        <%for (var i=0; i<=items1.length-1; i++) {%>
                            <option><%= items1[i].title %></option>
                    <%} }%> 
                </select>
            </form>
        </div>
        <div class="col-lg-6">
            <table id="table" class="table table-hover table-dark table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Lyrics</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <form id="form1" action="/app/mysongs/update" method="POST">
                    <%if (locals.items2) {%>
                        <caption style="caption-side: bottom; margin-letf: 3em; font-family: Segoe print;"><%= items2[0].title %></caption>
                        <%for (var i=0; i<=items2.length-1; i++) {%>
                            <tbody>
                                <tr onchange="update(this)">
                                    <td><input type="text" name="title" value="<%= items2[i].title %>" readonly title="Cannot change title"></td>
                                    <td><input type="text" name="lyrics" value="<%= items2[i].lyrics %>"></td>
                                    <td>
                                        <a class="red-text" style="margin-left: 1em;"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                    <%} }%>
                </form>
            </table>
        </div>
        <div class="col-lg-2">
            <button class="btn" id="btn plus" onclick="addrow()">
                <i class="fa fa-plus-circle fa-4x" id="plus" title="Create a song"></i>
            </button>
        </div>
    </div>
</div>
<script>
    
    function addrow(){
        const table = document.getElementById("table");  
        const rowCount = table.rows.length;   
        if (rowCount==1){
            table.insertRow(rowCount).innerHTML="<tr><td  contenteditable='true'></td><td contenteditable='true'></td><td><a onclick= insert() class='teal-text'><i class='fa fa-check'></i></a><a onclick='deleterow()' class='red-text' style='margin-left: 1.5em;'><i class='fa fa-times'></i></a></td></tr>";
        }
    }
    function deleterow(){
        const table = document.getElementById("table");
        table.deleteRow(1);
    }
    function update(x){
        document.getElementById('form1').action = "/app/mysongs/update/" + x.rowIndex;
        document.getElementById('form1').submit();
    }
    function insert(){
        const table = document.getElementById("table");
        const cell = [];
        for (i=0;i<=1;i++){cell[i] = table.rows[1].cells[i].innerHTML;}
        document.getElementById('form1').method = 'POST';
        document.getElementById('form1').action = "/app/mysongs/insert?title="+cell[0] +"&lyrics="+cell[1];
        document.getElementById('form1').submit();
    }
</script>
